@{
    ViewData["Title"] = "Help and guidance - Configuring your API";
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
      <partial name="_HelpAndGuidanceNavigation" />
  </div>
  
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">Help and guidance</h1>

    <section id="section-configuring-your-api">
      <h2 class="govuk-heading-m">Phase 2: Configuring your API</h2>
        <p class="govuk-body">Once you receive the Swagger documentation, your developer can start to configure the three APIs. If you have any technical questions that are specific to the API configuration process, please contact: <a href="mailto:vendors.helptogrow@beis.co.uk" class="govuk-link">vendors.helptogrow@beis.co.uk</a>.</p>
    </section>
  </div>
</div>