@{
    ViewData["Title"] = "Help and guidance - Contact us";
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
      <partial name="_HelpAndGuidanceNavigation" />
  </div>
  
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">Help and guidance</h1>

    <section id="contact">
        <h2 class="govuk-heading-m">Contact us</h2>
        <p class="govuk-body">Contact <a href="mailto:vendors.helptogrow@beis.co.uk" class="govuk-link">vendors.helptogrow@beis.co.uk</a> for help with the Help to Grow: Digital Vendor portal.</p>
    </section>
  </div>
</div>