@using Beis.VendorManagement.Web.Constants

@if (User.Identity.IsAuthenticated)
{
    <a class="govuk-link beis-sign-out-link" href="@Url.Action("SignOut", "Account" , new { Area="MicrosoftIdentity" })">
        <span>Sign out</span>
    </a>
    <a href="@Url.RouteUrl(RouteNameConstants.VendorPortalActivationGet)" class="govuk-link beis-sign-out-link govuk-!-margin-right-2" target="_blank">Help and guidance</a>
}
else
{
    <a class="govuk-link beis-sign-out-link" href="@Url.Action("SignIn", "Account" , new { Area="MicrosoftIdentity" })">
        <span>Sign in</span>
    </a>
}