@using Beis.VendorManagement.Web.Constants
@model (long ProductId, long ProductPriceId)
<div class="govuk-clearfix">
    <a class="govuk-back-link" href="@Url.RouteUrl(RouteNameConstants.PricingHomeGet, new { id = Model.ProductId, productPriceId = Model.ProductPriceId }, @Context.Request.Scheme)">
        Back
    </a>
</div>