@using Beis.VendorManagement.Web.Constants
@model long
<div class="govuk-clearfix">
    <a class="govuk-back-link" href="@Url.RouteUrl(RouteNameConstants.SoftwareHomeGet, new { id = Model }, @Context.Request.Scheme)">
        Back
    </a>
</div>