@{
    ViewData["Title"] = "Account Error";
    ViewData["ContentKey"] = "Error-ActivatedUser";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Error.</h1>
        <h2 class="govuk-heading-m">This account has been activated. Please sign in using the credentials you have created already.</h2>
    </div>
</div>