@{
    ViewData["Title"] = "User Error";
    ViewData["ContentKey"] = "Error-LoggedUser";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Error.</h1>
        <h2 class="govuk-heading-m">The account doesn't exists. Please sign in with an existing account.</h2>
    </div>
</div>