@{
    ViewData["Title"] = "Help and guidance - Product comparison tool";
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
      <partial name="_HelpAndGuidanceNavigation" />
  </div>
  
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">Help and guidance</h1>

    <section id="section-product-comparison-tool">
      <h2 class="govuk-heading-m">Product comparison tool</h2>
      <p class="govuk-body">All of the above information that you will provide will feed into the creation of our Product Comparison Tool for SMEs. As part of our offer to SMEs, our digital platform displays products in a comparable form which will be drawn from the information you provide in the product information collection. The online tool for SMEs includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>licencing structures and pricing, including information on free trial periods and discount periods</li>
        <li>core and advanced functionality and features</li>
        <li>SME support, including training offer and post-purchase implementation support</li>
        <li>publicly available customer ratings</li>
      </ul>
    </section>
  </div>
</div>