@using System.Security.Principal

@{
    ViewData["Title"] = "User Error";
}

<a class="govuk-link beis-sign-out-link" href="@Url.Action("SignOut", "Account" , new { Area="MicrosoftIdentity" })">
    <span>Sign out</span>
</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Error.</h1>
        <h2 class="govuk-heading-m">The product doesn't exists. Please sign in with a valid account.</h2>
    </div>
</div>
